<%
  # BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
  # Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
  # This program is free software; you can redistribute it and/or modify it under the
  # terms of the GNU Lesser General Public License as published by the Free Software
  # Foundation; either version 3.0 of the License, or (at your option) any later
  # version.
  #
  # BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
  # WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  # PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
  # You should have received a copy of the GNU Lesser General Public License along
  # with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background pb-1"  room="<%= @current_room_inside %>" user="<%= current_user ? current_user.uid : "anonymous" %>">

    <div id="inside_parent">

        <div id="inside_external_frame" style="display: inherit;">
            <iframe title="Fragebogen" id="external_viewport" src="https://www.konkret-mafo.de/" allowfullscreen allow="autoplay *; fullscreen *; display-capture *; geolocation *; microphone *; camera *; midi *; encrypted-media *; vr *;" width="100%" height="100%" style="width: 100%; height: 100%;" importance="high" referrer-policy="unsafe-url">

            </iframe>

            <script type="text/javascript">
              function show_external_url(){
                  $('#external_viewport').css('display','inherit');
              }
              function hide_external_url(){
                  $('#external_viewport').attr('src','').css('display','none');
              }
              function load_external_url(external_url){
                  $('#external_viewport').attr('src','').attr('src',external_url);
                  setTimeout(show_external_url, 1000);
              }
            </script>
        </div>

        <div id="inside_video_frame">

            <iframe title="<%= @current_room_inside %>" id="client_viewport" allowfullscreen allow="autoplay *; fullscreen *; display-capture *; geolocation *; microphone *; camera *; midi *; encrypted-media *; vr *;" src="<%= @target_url_client %>" width="100%" height="100%" style="width: 100%; height: 100%;" importance="high" referrer-policy="unsafe-url">

            </iframe>

        </div>

    </div>

    <script type="text/javascript">
      var orientation_dim = {dim: 'unset', parent_height: 0, parent_width: 0};

      function check_orientation() {
          if ($(window).width() > $(window).height()) {
            if (orientation_dim.dim === 'vertical' || orientation_dim.dim === 'unset'){
                $('#inside_video_frame, #inside_external_frame')
                    .removeClass('inside_frame_vertical')
                    .removeClass('half_height')
                    .css('height','100%')
                    .addClass('inside_frame_horizontal')
                    .addClass('half_width');
                orientation_dim.dim = 'horizontal'
            }
          } else {
              if (orientation_dim.dim === 'horizontal' || orientation_dim.dim === 'unset'){
                  $('#inside_video_frame, #inside_external_frame')
                      .removeClass('inside_frame_horizontal')
                      .removeClass('half_width')
                      .css('width','100%')
                      .addClass('inside_frame_vertical')
                      .addClass('half_height');
                  orientation_dim.dim = 'vertical'
              }
          }
      }

      var inside_parent = $("#inside_parent");
      var inside_video_frame = $('#inside_video_frame');
      var inside_external_frame = $("#inside_external_frame");

      inside_external_frame.resizable({grid: [50,50]});
      inside_external_frame.resize(function () {
        if (orientation_dim.dim === 'vertical'){
            inside_video_frame.height(orientation_dim.parent_height-inside_external_frame.height());
        }else{
            inside_video_frame.width(orientation_dim.parent_width-inside_external_frame.width());
        }
      });

      function cache_parent_dim(){
          orientation_dim.parent_width = inside_parent.width();
          orientation_dim.parent_height = inside_parent.height();
      }

      $(window).resize(function(){
          check_orientation();
          cache_parent_dim();
          if (orientation_dim.dim === 'vertical') {
              inside_video_frame.height(orientation_dim.parent_height - inside_external_frame.height());
              inside_external_frame.width(orientation_dim.parent_width);
          }else{
              inside_video_frame.width(orientation_dim.parent_width - inside_external_frame.width());
              inside_external_frame.height(orientation_dim.parent_height);
          }
      });

      $(document).ready(function () {
          check_orientation();
          cache_parent_dim();
      });

    </script>
</div>